{% extends 'app/base.html' %}
{% load static %}

{% block nombre %}Detalle Pedido{% endblock %}

{% block contenido %}
<div class="container mt-4">
  {% for factura in listaFactura %}
  <div class="card mb-4 pdf-content">
    <div class="card-header">
      <h5 class="card-title pt-2">Detalle de Factura - Codigo: {{ factura.id_factura }}</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h6 class="card-subtitle mb-2 text-muted">Informacion de la Empresa</h6>
          <p><strong>Empresa:</strong> HealQuest Labs </p>
          <p><strong>Direccion:</strong> Av. Providencia 183, Region Metropolitana</p>
          <p><strong>Telefono:</strong> 600 600 3200 </p>
          <p><strong>Correo:</strong> HealQuest.Labs@gmail.com</p>
          <p><strong>Codigo Postal:</strong> 7500000</p>
        </div>
        <div class="col-md-6">
          <h6 class="card-subtitle mb-2 text-muted">Informacion Vendedor</h6>
          <p><strong>Vendedor:</strong> {{ factura.orden.vendedor }}</p>
          <p><strong>Rut vendedor:</strong> {{ factura.orden.rut_vendedor }}</p>
          <p><strong>Telefono vendedor:</strong> {{ factura.orden.telefono_vendedor }}</p>
          <p><strong>Correo vendedor:</strong> {{ factura.orden.correo_vendedor }}</p>
        </div>
        <div class="col-md-12 mt-3">
          <h6 class="card-subtitle mb-2 text-muted">Informacion del Cliente</h6>
          <p><strong>Empresa:</strong> {{ factura.orden.empresa }}</p>
          <p><strong>Direccion:</strong> {{ factura.orden.direccion }}</p>
          <p><strong>Telefono:</strong> {{ factura.orden.telefono }}</p>
          <p><strong>Correo:</strong> {{ factura.orden.correo }}</p>
          <p><strong>Codigo Postal:</strong> {{ factura.orden.codigo_postal }}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h6 class="card-subtitle mb-2 text-muted">Productos</h6>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio Unitario</th>
                  <th>Precio Total</th>
                </tr>
              </thead>
              <tbody>
                {% for producto in productos %}
                <tr>
                  <td>{{ producto.producto }}</td>
                  <td>{{ producto.cantidad }}</td>
                  <td>${{ producto.precio_unitario }}</td>
                  <td>${{ producto.precio_total }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <h6 class="card-subtitle mb-2 text-muted">Totales:</h6>
            <p><strong>Subtotal:</strong> ${{ factura.subtotal }}</p>
            <p><strong>IVA:</strong> ${{ factura.iva }}</p>
            <p><strong>Total:</strong> ${{ factura.total }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if aceptacion %}
  <div class="container mt-4">
    <h5 class="mb-3">Recepción del pedido</h5>
    <div class="d-flex row">
      {% for aceptacion in aceptacion %}
      <div class="col-md-4">
        <p><strong>Rut receptor:</strong></p>
      </div>
      <div class="col-md-8">
        <p>{{ aceptacion.rutAcept }}</p>
      </div>
      <div class="col-md-4">
        <p><strong>Dirección:</strong></p>
      </div>
      <div class="col-md-8">
        <p>{{ aceptacion.direccionAcept }}</p>
      </div>
      <div class="col-md-4">
        <p><strong>Imagen de la entrega:</strong></p>
      </div>
      <div class="col-md-8">
        <img src="{{ aceptacion.img.url }}" alt="Imagen de la entrega" style="width: 200px; height: auto;">
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {% if rechazos %}
  <div class="container my-3">
    <h5 class="mb-3">Historial de rechazos</h5>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Razón del rechazo</th>
          </tr>
        </thead>
        <tbody>
          {% for rechazo in rechazos %}
          <tr>
            <td>{{ rechazo.fecha }}</td>
            <td>{{ rechazo.descripcion }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  <div class="d-flex justify-content-between mb-4">
    <div>
        <a href="{% url 'detalle_factura' id_factura=factura.id_factura %}?download=pdf" class="btn btn-success">Descargar PDF</a>
        {% if factura.estado.estado != 'Anulada' and factura.estado_entrega.estado_entrega != 'Entregado' %}
        <a href="{% url 'modificar' factura.id_factura %}" class="btn btn-primary mx-2">Modificar</a>
        {% endif %}
    </div>
    <div class="d-flex justify-content-between grid gap-2">
      {% if factura.estado.estado != 'Anulada' and factura.estado_entrega.estado_entrega != 'Entregado' %}
      <form method="post" class="anular-factura-form" data-id="{{ factura.id_factura }}">
        {% csrf_token %}
        <button type="button" class="btn btn-danger anular-factura-btn">Anular Factura</button>
      </form>
      {% endif %}
      <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio</a>
    </div>
</div>
  {% endfor %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.anular-factura-btn').forEach(function(button) {
      button.addEventListener('click', function() {
        var form = this.closest('form');
        var facturaId = form.dataset.id;

        Swal.fire({
          title: '¿Estás seguro?',
          text: "No podrás revertir esta acción",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Sí, anular',
          cancelButtonText: 'Cancelar'
        }).then((result) => {
          if (result.isConfirmed) {
            form.submit();
          }
        });
      });
    });
  });
</script>

{% endblock %}
