{% extends 'app/base.html' %}
{% load static %}

{% block nombre %} Inicio {% endblock %}

{% block contenido %}
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Bienvenido a</div>
        <div class="masthead-heading">HealQuest Labs</div> 
    </div>
</header>
<div class="container mt-5">
    <div class="row">
        <h3 class="mb-4">Opiniones de clientes reales</h3>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 5/5</p>
                    </div>
                    <h5 class="card-title">Servicio de primera calidad</h5>
                    <p>"Rápido, eficiente y productos de alta calidad. ¡Totalmente satisfechos!"</p>
                    <footer class="blockquote-footer mt-3">Farmacias Ahumada</footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 5/5</p>
                    </div>
                    <h5 class="card-title">Atención al cliente excepcional</h5>
                    <p>"Respuestas rápidas y soluciones efectivas. ¡Una experiencia sin complicaciones!"</p>
                    <footer class="blockquote-footer mt-3">Farmacia Cruz Verde</footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 5/5</p>
                    </div>
                    <h5 class="card-title">Variedad y precios competitivos</h5>
                    <p>"Amplia selección de productos a precios asequibles. ¡Definitivamente volveremos por más!"</p>
                    <footer class="blockquote-footer mt-3">Farmacias Salcobrand</footer>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group mb-5">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
    </ul>
    <div class="container">
        <div class="row">
            <h2 class="mb-4">Noticias del Sector</h2>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img src="{% static 'app/img/inyeccion.jpg' %}" class="card-img-top" alt="Imagen artículo 1" style="height: 200px; width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.elmundo.es/internacional/2020/04/24/5ea291adfc6c8309298b45ae.html" target="_blank" style="color: #000;">Una inyección de lejía cura todos los males</a></h5>
                        <p class="card-text">El coronavirus podría tratarse con inyecciones de desinfectante en el cuerpo.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img src="{% static 'app/img/orangutan.jpg' %}" class="card-img-top" alt="Imagen artículo 2" style="height: 200px; width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.elmundotoday.com/2024/05/sanidad-ya-ha-contactado-con-el-orangutan-que-aprendio-a-curarse-una-herida-a-solas-para-que-atienda-a-pacientes-espanoles/" target="_blank" style="color: #000;">Sanidad contacta con orangután autónomo para tratar pacientes españoles</a></h5>
                        <p class="card-text">El Ministerio de Sanidad cree que Rakus podría atender a pacientes españoles en aquellas comunidades autónomas con las urgencias más saturadas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img src="{% static 'app/img/neandertal.jpg' %}" class="card-img-top" alt="Imagen artículo 3" style="height: 200px; width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.elmundotoday.com/2022/10/nobel-de-medicina-para-el-hombre-que-descifro-el-adn-de-los-neandertales-con-muestras-de-saliva-de-su-cunado-alfonso/" target="_blank" style="color: #000;">Nobel de Medicina para el descifrador del ADN neandertal con saliva de su cuñado</a></h5>
                        <p class="card-text">Rescató el ADN de su cuñado Alfonso aprovechando una muestra de saliva en un vaso de vino que acabó resultando esencial para conocer el genoma de especies extintas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
                <div class="card">
                    <img src="{% static 'app/img/sal.jpg' %}" class="card-img-top" alt="Imagen artículo 4" style="height: 200px; width: 300px;">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.elmundotoday.com/2024/02/un-anciano-con-sed-de-venganza-decide-sacarse-medicina-para-acabar-ejerciendo-y-prohibirle-la-sal-al-medico-que-se-la-prohibio-a-el/" target="_blank" style="color: #000;">Un anciano vengativo estudia Medicina para prohibir sal al médico que se la negó</a></h5>
                        <p class="card-text">"Me ha arruinado la vida, pero me voy a vengar", promete mientras repasa sus apuntes de histología médica.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h3 class="mb-4">Otras opiniones de clientes</h3>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 1/5</p>
                    </div>
                    <h5 class="card-title">Mal servicio al cliente</h5>
                    <p>"Atención lenta y poco profesional. Los productos llegaron dañados."</p>
                    <footer class="blockquote-footer mt-3">Cliente insatisfecho</footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 2/5</p>
                    </div>
                    <h5 class="card-title">Productos de baja calidad</h5>
                    <p>"Los medicamentos parecen estar caducados y sin efecto. No lo recomendaría."</p>
                    <footer class="blockquote-footer mt-3">Cliente decepcionado</footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 1/5</p>
                    </div>
                    <h5 class="card-title">Entrega tardía y errónea</h5>
                    <p>"La entrega se retrasó varias veces y los productos no eran los solicitados. Desastre total."</p>
                    <footer class="blockquote-footer mt-3">Cliente frustrado</footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 2/5</p>
                    </div>
                    <h5 class="card-title">Servicio al cliente deficiente</h5>
                    <p>"No atendieron mis reclamos y se mostraron poco interesados en resolver los problemas. Decepcionante."</p>
                    <footer class="blockquote-footer mt-3">Cliente insatisfecho</footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 1/5</p>
                    </div>
                    <h5 class="card-title">Productos falsificados</h5>
                    <p>"Recibí medicamentos falsificados que pusieron en riesgo mi salud. ¡Una estafa total!"</p>
                    <footer class="blockquote-footer mt-3">Cliente indignado</footer>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <div>
                        <p>Puntuación: 2/5</p>
                    </div>
                    <h5 class="card-title">Precios excesivos</h5>
                    <p>"Los precios son desproporcionados para la calidad de los productos. No vale la pena."</p>
                    <footer class="blockquote-footer mt-3">Cliente descontento</footer>
                </div>
            </div>
        </div>
    </div>
    

</div>
{% endblock %}